body {
  text-align: center;
}

.button-style {
  padding: 10px;
  border-radius: 8px;
}

#board-size {
  padding: 5px;
  width: 100px;
}

.color , .selected {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  margin: 5px;
}

#color-palette , #colorSection , .boardLine {
  display: flex;
  justify-content: center;
}

.pixel {
  border: 1px solid black;
  background-color: white;
  width: 40px;
  height: 40px;
}

#n1 {
  margin-top: 10px;
}
