body {
  text-align: center;
  font-family: Josefin Sans, sans-serif;
  background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 100%;
}

.button-style {
  padding: 10px;
  border-radius: 8px;
  font-family: Josefin Sans, sans-serif;
}

#button-random-color {
  margin-left: 15px;
}


#board-size {
  padding: 5px;
  width: 100px;
}

.color , .selected {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  margin: 5px;
}

#color-palette , #colorSection {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.boardLine {
  display: flex;
  justify-content: center;
}

.pixel {
  border: 1px solid black;
  background-color: white;
  width: 40px;
  height: 40px;
}

#title {
  margin: 0;
}

#pixel-board {
  margin: 20px;
}
